<h1>Coaching#ask</h1>

<p>"Hello, I am your coach, what did you want to tell me?"</p>

<form action="/answer" method="get">
	<input type="text" name="users_message" placeholder="What do you want to ask?">
	<input type="submit">
</form>
